#button{
    background-color: aqua;
    padding: 30px 60px;
    font-size: 35px;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
}

#button:hover{
    background-color: blueviolet;
    cursor: pointer;
}